In [1]:
myAge = 32
print(myAge)

In [2]:
myAge = 33
print(myAge)

In [3]:
print(myAge/3)

In [4]:
myAge = myAge + 1
print(myAge)

In [5]:
#Challenge
# 1) Create a variable called "restaurantBill" and set its value to 36.17
# 2) Create a variable called "serviceCharge" and set its value to 0.125
# 3) Print out the amount of tip
restaurantBill = 36.17
serviceCharge = 0.125
print(restaurantBill*serviceCharge)

In [6]:
type(33)

In [7]:
type(33.6)

In [8]:
type('Brandon')

In [9]:
type(myAge)

In [10]:
type(restaurantBill)

In [11]:
myName = 'Brandon'
type(myName)

In [12]:
firstPrime = 1
secondPrime = 2
thirdPrime = 3

primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

In [13]:
coolPeople = ['Jay Z', 'Ghandi', 'me']
primesAndPeople = ['King Arthur', 17, 11, 'Jennifer Lopez']
type(primesAndPeople)

In [14]:
primeNumbers[2]

In [15]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

In [16]:
import pandas as pd
data = pd.read_csv('lsd-math-score-data.csv')

In [17]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [18]:
type(data)

pandas.core.frame.DataFrame

In [19]:
onlyMathScores = data['Avg_Math_Test_Score']
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [20]:
onlyMathScores = data['Test_Subject'] = 'Jennifer Lopez'

In [21]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [22]:
data['High_Score'] = 100

In [23]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [24]:
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [25]:
data['High_Score'] = data['High_Score'] **2 #data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [26]:
type(onlyMathScores)

str

In [27]:
# columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
# cleanData = data[columnList]
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [28]:
type(cleanData)

pandas.core.frame.DataFrame

In [29]:
y = data[['Avg_Math_Test_Score']]

In [30]:
type(y)

pandas.core.frame.DataFrame

In [31]:
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [32]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [33]:
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [34]:
import life as hitchhikersGuide

In [35]:
type(hitchhikersGuide)

module

In [36]:
print(hitchhikersGuide)

<module 'life' from 'C:\\Users\\bjfab\\MLProjects\\life.py'>

In [37]:
hitchhikersGuide.theAnswer

42

In [38]:
print(pd)

<module 'pandas' from 'C:\\Users\\bjfab\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'>

In [39]:
import math
math.pi

3.141592653589793

In [40]:
math.e

2.718281828459045

In [41]:
from life import theAnswer

In [42]:
myFavouriteNumber = theAnswer
print(myFavouriteNumber)

42

In [43]:
theAnswer = theAnswer + 1
print(theAnswer)

43

In [44]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [45]:
def get_milk():
    print('Open door')
    print('Walk to the store')
    print('Buy milk on the ground floor')
    print('Return with milk galore')

In [46]:
get_milk()

Open door
Walk to the store
Buy milk on the ground floor
Return with milk galore

In [47]:
def fill_the_fridge(amount):
    print('Open door')
    print('Walk to the store')
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [48]:
fill_the_fridge('5')

Open door
Walk to the store
Buy 5 cartons on the ground floor
Return with milk galore

In [49]:
fill_the_fridge('one thousand')

Open door
Walk to the store
Buy one thousand cartons on the ground floor
Return with milk galore

In [50]:
fill_the_fridge('five')

Open door
Walk to the store
Buy five cartons on the ground floor
Return with milk galore

In [51]:
def milk_mission(amount, destination):
    print('Open door')
    print('Walk to the ' + destination)
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [52]:
milk_mission('twenty', 'department store')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
Return with milk galore

In [53]:
milk_mission(destination='department store', amount='twenty')

Open door
Walk to the department store
Buy twenty cartons on the ground floor
Return with milk galore

In [54]:
def times(x, y):
#     result = x*y
    return x*y
test = times(3.14, 5.09)
print(test)

15.9826

In [55]:
times('Ni', 4)

'NiNiNiNi'

In [56]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [57]:
hitchhikersGuide.quote_marvin()

I've calculated your chance of survival, but I don't think you'll like it.

In [58]:
myAge = 'Two Hundred'
type(myAge)

str

In [59]:
myAge = 20.53
type(myAge)

float

In [60]:
result = hitchhikersGuide.square_root(63.14)
print(result)

7.946068210127573

In [61]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97